body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.game-container {
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin: 20px auto;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #fff;
    border: 2px solid #dcd61da7;
    font-size: 2em;
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(182, 81, 81);
}

.cell:hover {
    background: #f0f0f0;
}

#resetButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#resetButton:hover {
    background-color: #0056b3;
}

#gameStatus {
    margin-top: 20px;
    font-size: 1.2em;
}
